<div class="container">
  <div class="row">
    <form [formGroup]="form">
      <div class="six columns">
        <label for="username">Username</label>
        <input
          formControlName="username"
          id="username"
          name="username"
          class="u-full-width"
          type="text">
        <label for="password">Password</label>
        <input
          formControlName="password"
          id="password"
          class="u-full-width"
          type="password">
        <button (click)="onSubmit()" [disabled]="!form.valid" class="u-full-width button-primary">Login</button>
      </div>
    </form>
  </div>
</div>
