.login {
  height: 100%;
}

.login__error-box {
  border: 1px solid brown;
  color: brown;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 10px;
}

.login__form {
  width: 300px;
}

.login__form-holder{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.login__loading-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_loading-panel-background{
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.login__button {
  background: black;
  color: yellow;
  border-color: #424242;
}

.login__button:hover {
  background: #424242;
  color: yellow;
  border-color: #424242;
}
